
//MY THEME COLORS
// $purple-dark: #9926f0;
$purple-dark: #005f73;
$purple-light: #BB6EF5;
// $pink: #d122e3;
$pink: #0a9396;

$primary:       #003049;
$secondary:     #8a08c7;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;


@import "components/accordion";

